---
# Official language image. Look for the different tagged releases at:
# https://hub.docker.com/r/library/python/tags/
image: python:3.10

# Change pip's cache directory to be inside the project directory since we can
# only cache local items.
variables:
  PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache/pip"

# Pip's cache doesn't store the python packages
# https://pip.pypa.io/en/stable/reference/pip_install/#caching
#
# If you want to also cache the installed packages, you have to install
# them in a virtualenv and cache it as well.
cache:
  paths:
    - .cache/pip
    - venv/

before_script:
  - python -V # Print out python version for debugging
  - pip install twine tox flake8 codecov build

codecov:
  stage: test
  script:
    - tox -e coverage
    - codecov

linting:
  stage: test
  script:
    - tox -e black,yamllint,flake8

build_staging:
  stage: deploy
  script:
    - python -m build
  except:
    - tags
  artifacts:
    paths:
      - dist/

deploy_production:
  stage: deploy
  variables:
    TWINE_USERNAME: $PRODUCTION_USERNAME
    TWINE_PASSWORD: $PRODUCTION_PASSWORD
  script:
    - python -m build
    - twine upload dist/*
  only:
    - tags
  artifacts:
    paths:
      - dist/

python39:
  stage: test
  script: tox -e py39

python310:
  stage: test
  script: tox -e py310
